* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background: #000;
    color: #DCDCDC;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: "cageroll";
    src: url('./cageroll.otf');
}

.topsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    padding-top: 70px;
    font-family: "cageroll";
}

.upper {
    color: #aec1e9;
    vertical-align: super;
    font-size: 30px;
    animation: blink 3.5s linear infinite;
}

@keyframes blink {
	25% {
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
}

hr {
    border: 3px solid;
    border-radius: 5px;
    max-width: 85em;
    margin: 0 auto;
    width: 100%;
    animation: wheelHueColor 28s infinite;
    margin-top: 10px;
}

@keyframes wheelHueColor {
    0%, 100% { color: rgb(236, 100, 75); }
    10% { color: rgb(219, 10, 91); }
    20% { color: rgb(174, 168, 211); }
    30% { color: rgb(89, 171, 227); }
    40% { color: rgb(37, 116, 169); }
    50% { color: rgb(3, 201, 169); }
    60% { color: rgb(22, 160, 133); }
    70% { color: rgb(233, 212, 96); }
    80% { color: rgb(243, 156, 18); }
    90% { color: rgb(236, 240, 241); }
}

.bottomsection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: #405aa7;
    font-family: "cageroll";
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #DCDCDC;
    border-radius: 5px;
    transition: color 0.3s, border-bottom 0.3s;
}

a:hover {
    color: #545761;
    border-bottom: 2px solid #DCDCDC;
}

a:visited {
    color: #DCDCDC;
}

a.top {
    color: #DCDCDC;
}

a.top:hover {
    color: #545761;
    border-bottom: none;
}

ul.links {
    list-style: none;
    font-size: 20px;
}

ul.links li {
    padding: 5px 0;
}